extends layout

//- block header
//-   h2 hotdog

block content
  p gumagana na to hotdog person
  span#id.cool hotdog
  img(src="dog.jpg" alt=`${name.toUpperCase()}`)
  h1 Hello #{name}
    p Hatdog

block footer
  p &copy; Andrei Trinidad


